*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy",sans-serif;

}

html,body{
  height: 100%;
  width: 100%;
}
.main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgb(126, 153, 164);

}

.pannel{
  height: 80%;
  width: 80%;
  background: #fefefe;
  border-radius: 10px;
  overflow: hidden;
}
.ptop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: rgb(84, 104, 112);
  padding: 0 20%;
}

.elem{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 20px;
}

.elem h2{
  font-weight: 500;
  font-size: 20px ;
}

.box{
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  color: rgb(44, 82, 97);
  font-size: 20px;
  font-weight: 600;
}


.pbtm{
  width: 100%;
  height: calc(100% - 100px);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  
}

.bubble{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(69, 119, 139);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bubble:hover{
  background: rgb(31, 75, 92);
}

/* game over model */
.modal{
  position: fixed;
  top: 0;left: 0;right: 0;bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
 

}

.modal-content{
  background: #cfecb3;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  width: 30%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#restartBtn{
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  background: rgb(98, 213, 98);
  border: none;
 

}

#restartBtn:hover{
  background-color: rgb(69, 206, 69);
}